
mat-card{
    margin-top:20px;
}

.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .select-area {
    cursor: pointer;
  }